body, html
{
    height: 100%;
    font-family: "Microsoft YaHei";
}
#Welcome
{
    text-align: center;
    color: aquamarine;
    font-size: 50px;
    font-weight: bold; 
}

.background_decoration
{
        /* Background */
        background-image: url(/img/background.jpg);
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.container
{
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;
}

#button_nav
{
    display: inline-flex;
    list-style-type: none;
}

.navBar
{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 21px;
    font-weight: bold;
}

.Content
{
    .welcome
    {
    align-items: center;
    justify-content: center;
    display: flex;
    }   
}

/* #Home_button
{
    padding-left: 300px;
    text-align: right;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    
}

#List_button
{
    padding-left: 10px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#Montage_button
{
    padding-left: 10px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#Gallery_button
{
    padding-left: 10px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#searchbar
{
    padding-top: px;
    float: right;
    padding-left: 10px;
    border: none;
    margin: 0 auto;
    font-size: 20px;
}

#Register_button
{
    float: left;
    margin-left: 1000px;
    margin-right: 10px;
}

#Login_button
{
    float: right;
    margin-right: 30px;
} */

