<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/Views/homepage.css">
        <meta charset="UTF-8">
        <meta name="keywords" content="Pink elf">
        <meta name="description" content="Pink elf cunt">
        <meta name="author" content="Supnep">

        <title>Miss pink elf</title>
    </head>

    <body>
    <!-- Head class START -->
    <div class="background_decoration">
       
        <div class="container">
            <div class="Direction">
                <ol id="button_nav" >
                    <li> <a id ="Home_button" class ="navBar" href = "/Views/homepage.html"> HOME </a> </li>
                    <li> <a id ="List_button" class ="navBar" href = "/Views/list.html"> LIST </a> </li>
                    <li> <a id ="Montage_button" class ="navBar" href = "/Views/montage.html"> MONTAGE </a> </li>
                    <li> <a id ="Gallery_button" class ="navBar" href = "/Views/gallery.html"> GALLERY </a> </li>
                </ol>
            </div>
            
            <div class="user_interaction">
                <button id = "Register_button" type="button"> Register </button>
                <button id = "Login_button" type="button"> Login </button>
            </div>
        </div>

    <div class="Content">
        <!-- Nothing here -->
        <div class="welcome">
            <p> WELCOME TO THE CUNT </p>
        </div>

        <div class = "search_box">
            <input type = "text" placeholder="Search..">
        </div>
        <!-- END HERE -->
    </div>

    </body>


</html>