<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/Views/homepage.css">
        <meta charset="UTF-8">
        <meta name="keywords" content="Pink elf">
        <meta name="description" content="Pink elf cunt">
        <meta name="author" content="Supnep">

        <title>Miss pink elf</title>
    </head>

    <body>
    <div class="background_decoration">
        <div class="container">
            <div class="Direction">
                <a id ="Home_button" href = "/Views/homepage.html"> HOME </a>
                <a id ="List_button" href = "/Views/list.html"> LIST </a>
                <a id ="Montage_button" href = "/Views/montage.html"> MONTAGE </a>
                <a id ="Gallery_button" href = "/Views/gallery.html"> GALLERY </a>
            </div>
            <br>
            <div class="user_interaction">
                <button id = "Register_button" type="button"> Register </button>
                <button id = "Login_button" type="button"> Login </button>
            </div>
        </div>

    <div class="Hallway_description">
        
    </div>

        <p id = "Welcome">
            WELCOME TO THE CUNT
        </p>
    </div>

    <!-- Load the Logo -->
    <!-- <div> 
        <img id = "logo" src="/img/logo.jpg" alt = "Pink Elf">  
    </div> -->



    </body>


</html>